
test/.vs/test/v15/.suo
test/.vs/test/v15/.suo
test/.vs/test/v15/Solution.VC.db-shm
test/.vs/test/v15/.suo
test/.vs/test/v15/Solution.VC.db-shm
test/.vs/test/v15/Solution.VC.db-wal
test/__vm/Compile.vmps.xml
test/__vm/Configuration.Release.vmps.xml
test/Release/board.buildinfo
test/Release/SoftwareSerial/SoftwareSerial.cpp.o
test/Release/test.cpp.o
test/Release/test.elf
test/Release/test.hex
test/Release/test.ino.elf
test/Release/test.ino.hex
test/Release/test.ino.with_bootloader.hex
test/Release/test.with_bootloader.hex
test/Release/Wire/utility/twi.c.o
test/Release/Wire/Wire.cpp.o
